@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.hover-effect:not(.disabled) {
	@apply transition-shadow duration-300 ease-in-out hover:shadow-lg;
}

.disabled {
	@apply opacity-50 cursor-not-allowed;
}

.disabled:hover {
	@apply opacity-50 cursor-not-allowed;
}
